.tippy-tooltip,
.tippy-popper {
  padding: 0;
  font-size: 0.8rem;
  text-align: inherit;
  color: black;
  color: white;
  margin-top: -3px;

  .tippy-content {
    padding: 5px 10px;
    color: white;
  }

  .tippy-backdrop {
    display: none;
  }
  .tippy-roundarrow,
  .tippy-arrow {
    fill: black;
    display: none;
  }
  .tippy-popper[x-placement^='top'] & .tippy-arrow {
    border-top-color: black;
  }
  .tippy-popper[x-placement^='bottom'] & .tippy-arrow {
    border-bottom-color: black;
  }
  .tippy-popper[x-placement^='left'] & .tippy-arrow {
    border-left-color: black;
  }
  .tippy-popper[x-placement^='right'] & .tippy-arrow {
    border-right-color: black;
  }
}
