$color-0: #f0f0f8;
$color-0--light: #f0f0f8;
$color-0--dark: #f0f0f8;
$color-1: #ffffff;
$color-1--light: #ffffff;
$color-1--dark: #fafafa;
$color-2: #f8f8f9;
$color-2--light: #fafafb;
$color-2--dark: #f6f6f7;

$primary-color-100: #e31337;
$primary-color-90: #2e66ff;
$primary-color-80: #5582ff;
$primary-color-60: #7ea1ff;
$primary-color-10: #c6d5ff;
$primary-color-5: #f4f7ff;
$primary-color-3: #265ffc;
$primary-color-1: #fbfcff;

$secondary-color-100: #212529;
$secondary-color-90: #6b2cff;
$secondary-color-80: #7134ff;
